
*.pyc
__pycache__/
*.py[cod]
*.pyo
*.pyd
app_routes.log
downloads/
estimated_OGM/
segmented_sat_roi_imgs/
georeferenced_drone_images/
Satellite_DLR/
*.tif.aux.xml
*.jp2
*.gpkg
*.SAFE/
subset_dem*.tif
temp_*.tif
*.tmp
*.bak

# OS
.DS_Store
Thumbs.db
